# NYC Apartment Search

_[Project prompt](https://docs.google.com/document/d/1BYVyFBDcTywdUlanH0ysfOrNWPgl7UkqXA7NeewTzxA/edit#heading=h.bpxu7uvknnbk)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add code as you wish._

_**All code below should be consider "pseudo-code" - not functional by itself, and only an idea of a possible approach.**_

## Setup

In [91]:
# All import statements needed for the project

#!pip install sodapy
#!pip install dbfread
#!pip install psycopg2-binary


from dbfread import DBF
import xml.etree.ElementTree as ET
from sodapy import Socrata
import pandas as pd
import requests
import csv
import json
import pathlib
import urllib.parse

import geoalchemy2 as gdb
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import requests
import shapely
from shapely.geometry import Point
import sqlalchemy as db
from shapely.geometry import shape

from sqlalchemy.orm import declarative_base

In [92]:
# all constants need

App_Token = "zXpH8UO3VhKvK7Zqy3IpLSzXv"
url_311 = "https://data.cityofnewyork.us/resource/erm2-nwe9.geojson"
url_trees = "data.cityofnewyork.us"


# Where data files will be read from/written to - this should already exist
DATA_DIR = pathlib.Path("/Users/jojoamelboi/Desktop/GITHUB/Untitled/data/drive-download-20231203T171520Z-001/")
ZIPCODE_DATA_FILE1 = DATA_DIR / "nyc_zipcodes.dbf"
ZIPCODE_DATA_FILE2 = DATA_DIR / "nyc_zipcodes.prj"
ZIPCODE_DATA_FILE3 = DATA_DIR / "nyc_zipcodes.sbn"
ZIPCODE_DATA_FILE4 = DATA_DIR / "nyc_zipcodes.sbx"
ZIPCODE_DATA_FILE5 = DATA_DIR / "nyc_zipcodes.shp"
ZIPCODE_DATA_FILE6 = DATA_DIR / "nyc_zipcodes.shp.xml"
ZIPCODE_DATA_FILE7 = DATA_DIR / "nyc_zipcodes.shx"

ZIPCODE_DATA_FILE = {
    'dbf': ZIPCODE_DATA_FILE1,
    'prj': ZIPCODE_DATA_FILE2,
    'sbn': ZIPCODE_DATA_FILE3,
    'sbx': ZIPCODE_DATA_FILE4,
    'shp': ZIPCODE_DATA_FILE5,
    'shp.xml': ZIPCODE_DATA_FILE6,
    'shx': ZIPCODE_DATA_FILE7,
}


ZILLOW_DATA_FILE = DATA_DIR / "zillow_rent_data.csv"




# DB_NAME = "FILL_ME_IN"
# DB_USER = "FILL_ME_IN"
# DB_URL = f"postgres+psycopg2://{DB_USER}@localhost/{DB_NAME}"
# DB_SCHEMA_FILE = "schema.sql"
# # directory where DB queries for Part 3 will be saved
# QUERY_DIR = pathlib.Path("queries")

In [93]:
# Make sure the QUERY_DIRECTORY exists
if not QUERY_DIR.exists():
    QUERY_DIR.mkdir()

NameError: name 'QUERY_DIR' is not defined

## Part 1: Data Preprocessing

In [94]:
def normalize_geometry_srid(gdf, target_srid):
    if gdf.crs and gdf.crs.to_epsg() == target_srid:
        return gdf
    try:
        gdf_normalized = gdf.copy()
        gdf_normalized['geometry'] = gdf_normalized['geometry'].to_crs(epsg=target_srid)
        return gdf_normalized
    except Exception as e:
        print(f"Error during geometry normalization: {e}")
        return None

def load_and_clean_zipcodes(ZIPCODE_DATA_FILE):

    # Pass file path using parameters
    zipcodes_data_path_7 = ZIPCODE_DATA_FILE["shx"]
    
    
    # 7th doc
    zipcodes_df_7 = gpd.read_file(zipcodes_data_path_7)
    
    #filter the columns
    columns_to_keep = ["ZIPCODE","geometry"]
    zipcodes_df_7 = zipcodes_df_7.filter(items=columns_to_keep)
    
    #Normalize the columns
    zipcodes_df_7 = normalize_geometry_srid(zipcodes_df_7, target_srid=4326)
    zipcodes_df_7.columns = zipcodes_df_7.columns.str.upper().str.replace(' ', '_')
    zipcodes_df_7 = zipcodes_df_7[zipcodes_df_7['ZIPCODE'].notnull()]
    
    
    return zipcodes_df_7

In [95]:
def download_and_clean_311_data():
    
    soql_query = {
    "$select": "incident_zip,created_date,location",
    "$where": "incident_zip IS NOT NULL",
    "$limit": "35000000"
    }
    encoded_query = urllib.parse.urlencode(soql_query)
    URL_311 = f"{url_311}?{encoded_query}"
    response = requests.get(URL_311, headers={"X-App-Token": App_Token})

    if response.status_code == 200:
        df_311 = gpd.read_file(URL_311)
    else:
        print(response.content)
        print("Failed to retrieve data. Status code:", response.status_code)
    
    df_311.columns = df_311.columns.str.upper().str.replace(' ', '_')
    df_311.rename(columns={"INCIDENT_ZIP": "ZIPCODE", "CREATED_DATE": "DATE"}, inplace=True)
    
    df_311["DATE"] = pd.to_datetime(df_311["DATE"])
    df_311["DATE"] = df_311["DATE"].dt.date
            
    return df_311

In [96]:
def download_and_clean_tree_data():
    client = Socrata(url_trees, App_Token)
    results = client.get("5rq2-4hqu", limit=700000)
    df_tree = gpd.GeoDataFrame.from_records(results)
    
    columns_to_keep = ["the_geom", "zipcode", "created_at"]
    df_tree = df_tree.filter(items=columns_to_keep)

    
    df_tree['geometry'] = df_tree['the_geom'].apply(lambda geom: Point(geom['coordinates']))

    # Create GeoDataFrame with specified geometry column
    df_tree = gpd.GeoDataFrame(df_tree, geometry='geometry')
    
    df_tree.rename(columns=lambda x: x.upper().replace(' ', '_'), inplace=True)
    df_tree.rename(columns={"CREATED_AT": "DATE"}, inplace=True)
    df_tree["DATE"] = pd.to_datetime(df_tree["DATE"])
    
    df_tree.drop(columns=['THE_GEOM'], inplace=True)
    df_tree = df_tree[df_tree['ZIPCODE'].notnull()]


    return df_tree

In [97]:
def load_and_clean_zillow_data():
    
    zillow_data_path = ZILLOW_DATA_FILE

    # Use pandas to load the CSV file
    zillow_df = pd.read_csv(zillow_data_path)
    
    # Keep rows with specific cell values
    desired_value = 'New York'
    filtered_df = zillow_df[zillow_df['City'] == desired_value]
    
    # Specify columns to remove
    columns_to_remove_indices = list(range(2)) + list(range(3, 9)) 
    
    # Use the drop function to remove the specified columns and formalize the structure
    df_cleaned = filtered_df.drop(columns=filtered_df.columns[columns_to_remove_indices])

    df_cleaned.rename(columns={'RegionName': 'ZIPCODE'}, inplace=True)
    df_cleaned.rename(columns=lambda x: x.upper().replace(' ', '_'), inplace=True)
    df_cleaned = df_cleaned.reset_index(drop=True)
    df_cleaned = df_cleaned[df_cleaned['ZIPCODE'].notnull()]

    return df_cleaned

In [98]:
def load_all_data():
    geodf_zipcode_data = load_and_clean_zipcodes(ZIPCODE_DATA_FILE)
    geodf_311_data = download_and_clean_311_data()
    geodf_tree_data = download_and_clean_tree_data()
    df_zillow_data = load_and_clean_zillow_data()
    return (
        geodf_zipcode_data,
        geodf_311_data,
        geodf_tree_data,
        df_zillow_data
    )

In [99]:
geodf_zipcode_data, geodf_311_data, geodf_tree_data, df_zillow_data = load_all_data()

In [100]:
# Show basic info about each dataframe
geodf_zipcode_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 263 entries, 0 to 262
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ZIPCODE   263 non-null    object
 1   GEOMETRY  263 non-null    geometry
dtypes: geometry(1), object(1)
memory usage: 6.2+ KB

In [101]:
# Show first 5 entries about each dataframe
geodf_zipcode_data.head()

  ZIPCODE                                           GEOMETRY
0   11436  POLYGON ((-73.80585 40.68291, -73.80569 40.682...
1   11213  POLYGON ((-73.93740 40.67973, -73.93487 40.679...
2   11212  POLYGON ((-73.90294 40.67084, -73.90223 40.668...
3   11225  POLYGON ((-73.95797 40.67066, -73.95576 40.670...
4   11218  POLYGON ((-73.97208 40.65060, -73.97192 40.650...

In [102]:
geodf_311_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 33423643 entries, 0 to 33423642
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   ZIPCODE   object
 1   DATE      object
 2   GEOMETRY  geometry
dtypes: geometry(1), object(2)
memory usage: 765.0+ MB

In [103]:
geodf_311_data.head()

  ZIPCODE        DATE                    GEOMETRY
0   11357  2023-12-06  POINT (-73.81909 40.77822)
1   11423  2023-12-06  POINT (-73.77700 40.70893)
2   10458  2023-12-06  POINT (-73.89632 40.85988)
3   11357  2023-12-06  POINT (-73.81744 40.77804)
4   11214  2023-12-06  POINT (-73.98806 40.59708)

In [104]:
geodf_tree_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 683788 entries, 0 to 683787
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ZIPCODE   683788 non-null  object
 1   DATE      683788 non-null  datetime64[ns]
 2   GEOMETRY  683788 non-null  geometry
dtypes: datetime64[ns](1), geometry(1), object(1)
memory usage: 20.9+ MB

In [105]:
geodf_tree_data.head()

  ZIPCODE       DATE                    GEOMETRY
0   11375 2015-08-27  POINT (-73.84422 40.72309)
1   11357 2015-09-03  POINT (-73.81868 40.79411)
2   11211 2015-09-05  POINT (-73.93661 40.71758)
3   11211 2015-09-05  POINT (-73.93446 40.71354)
4   11215 2015-08-30  POINT (-73.97598 40.66678)

In [106]:
df_zillow_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145 entries, 0 to 144
Columns: 106 entries, ZIPCODE to 2023-09-30
dtypes: float64(105), int64(1)
memory usage: 121.2 KB

In [107]:
df_zillow_data.head()

,ZIPCODE,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,11385,NaN,2087.527084,NaN,2149.924252,2166.263698,2148.992886,2190.098591,2264.966715,2297.900917,...,2935.808220,2895.699421,2873.209025,2881.906361,2913.546218,2963.964134,3005.735342,3034.413822,3064.476503,3079.585783
1,11208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2508.670432,2588.030194,2613.790654,2585.561351,2633.200754,2672.038493,2806.918757,2765.224364,2737.547470,2728.733333
2,11236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2285.460026,2362.500000
3,10467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2145.642295,2155.617718,2172.346611,2160.962748,2110.533203,2180.323655,2276.372290,2334.204728,2353.686402,2423.888889
4,11373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2199.459063,2255.604528,2262.101623,2271.514956,2250.182334,2231.959479,2257.413993,2247.592851,2302.557354,2292.994444

## Part 2: Storing Data

In [64]:
!createdb Final_Project

createdb: error: database creation failed: ERROR:  database "Final_Project" already exists

In [65]:
!psql --dbname Final_Project -c 'CREATE EXTENSION postgis;'

ERROR:  extension "postgis" already exists

In [69]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Obtaining dependency information for psycopg2-binary from https://files.pythonhosted.org/packages/7a/1f/a6cf0cdf944253f7c45d90fbc876cc8bed5cc9942349306245715c0d88d6/psycopg2_binary-2.9.9-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading psycopg2_binary-2.9.9-cp311-cp311-macosx_11_0_arm64.whl.metadata (4.4 kB)
Downloading psycopg2_binary-2.9.9-cp311-cp311-macosx_11_0_arm64.whl (2.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.6/2.6 MB 5.5 MB/s eta 0:00:0000:0100:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [76]:
setup_new_postgis_database(DB_USER, DB_NAME)

NameError: name 'DB_USER' is not defined

### Creating Tables


These are just a couple of options to creating your tables; you can use one or the other, a different method, or a combination.

In [ ]:
engine = db.create_engine(DB_URL)

#### Option 1: SQL

In [ ]:
# if using SQL (as opposed to SQLAlchemy), define the SQL statements to create your 4 tables
ZIPCODE_SCHEMA = """
TODO
"""

NYC_311_SCHEMA = """
TODO
"""

NYC_TREE_SCHEMA = """
TODO
"""

ZILLOW_SCHEMA = """
TODO
"""

In [ ]:
# create that required schema.sql file
with open(DB_SCHEMA_FILE, "w") as f:
    f.write(ZIPCODE_SCHEMA)
    f.write(NYC_311_SCHEMA)
    f.write(NYC_TREE_SCHEMA)
    f.write(ZILLOW_SCHEMA)

In [ ]:
# If using SQL (as opposed to SQLAlchemy), execute the schema files to create tables
with engine.connect() as connection:
    pass

#### Option 2: SQLAlchemy

In [90]:
from sqlalchemy import create_engine, Column, Integer, String, Float, DateTime, MetaData, Index
from sqlalchemy.ext.declarative import declarative_base
from geoalchemy2 import Geometry as GeoAlchemyGeometry

Base = declarative_base()

# Define table classes
class ZipCode(Base):
    __tablename__ = 'nyc_zip_codes'
    id = Column(Integer, primary_key=True)
    zipcode = Column(String)
    geometry = Column(GeoAlchemyGeometry('POINT'))

class Complaints311(Base):
    __tablename__ = 'complaints_311'
    id = Column(Integer, primary_key=True)
    zipcode = Column(String)
    date = Column(DateTime)
    geometry = Column(GeoAlchemyGeometry('POINT'))

class Trees(Base):
    __tablename__ = 'trees'
    id = Column(Integer, primary_key=True)
    zipcode = Column(String)
    date = Column(DateTime)
    geometry = Column(GeoAlchemyGeometry('POINT'))

class HistoricalRents(Base):
    __tablename__ = 'historical_rents'
    id = Column(Integer, primary_key=True)
    zipcode = Column(String)
    # Dynamically generate 106 float columns
    for i in range(1, 107):
        column_name = f'column_{i}'
        locals()[column_name] = Column(Float)
        
# Replace 'postgresql://username:password@localhost/dbname' with your PostgreSQL connection string
# Example: 'postgresql://your_username:your_password@localhost/Final_Project'
engine = create_engine('postgresql://postgres:qinjunhao0510@localhost/Final_Project')

# Create the tables
Base.metadata.create_all(bind=engine)

# Output the schema as SQL
with open('schema.sql', 'w') as file:
    file.write(str(Base.metadata))

In [86]:
Base.metadata.create_all(engine)

### Add Data to Database

These are just a couple of options to write data to your tables; you can use one or the other, a different method, or a combination.

#### Option 1: SQL

In [ ]:
def write_dataframes_to_table(tablename_to_dataframe):
    # write INSERT statements or use pandas/geopandas to write SQL
    raise NotImplemented()

In [ ]:
tablename_to_dataframe = {
    "zipcodes": geodf_zipcode_data,
    "complaints": geodf_311_data,
    "trees": geodf_tree_data,
    "rents": df_zillow_data,
}

In [ ]:
write_dataframes_to_table(tablename_to_dataframe)

#### Option 2: SQLAlchemy

In [87]:
Session = db.orm.sessionmaker(bind=engine)
session = Session()

In [ ]:
for row in geodf_tree_data.iterrows():
    tree = Tree(...)
    session.add(tree)

In [ ]:
session.commit()

## Part 3: Understanding the Data

### Query 1

In [ ]:
# Helper function to write the queries to file
def write_query_to_file(query, outfile):
    raise NotImplementedError()

In [ ]:
QUERY_1_FILENAME = QUERY_DIR / "FILL_ME_IN"

QUERY_1 = """
FILL_ME_IN
"""

In [ ]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_1))
    for row in result:
        print(row)

In [ ]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
# use a more descriptive name for your function
def plot_visual_1(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_1():
    # Query your database for the data needed.
    # You can put the data queried into a pandas/geopandas dataframe, if you wish
    raise NotImplementedError()

In [ ]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)