# NYC Apartment Search

_[Project prompt](https://docs.google.com/document/d/1BYVyFBDcTywdUlanH0ysfOrNWPgl7UkqXA7NeewTzxA/edit#heading=h.bpxu7uvknnbk)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add code as you wish._

_**All code below should be consider "pseudo-code" - not functional by itself, and only an idea of a possible approach.**_

## Setup

In [47]:
# All import statements needed for the project

#!pip install sodapy
#!pip install dbfread
#!pip install psycopg2-binary


from dbfread import DBF
import xml.etree.ElementTree as ET
from sodapy import Socrata
import pandas as pd
import requests
import csv
import json
import pathlib
import urllib.parse

import geoalchemy2 as gdb
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import requests
import shapely
from shapely.geometry import Point
import sqlalchemy as db
from shapely.geometry import shape

from sqlalchemy.orm import declarative_base
from geoalchemy2 import WKTElement

In [25]:
# all constants need

App_Token = "zXpH8UO3VhKvK7Zqy3IpLSzXv"
url_311 = "https://data.cityofnewyork.us/resource/erm2-nwe9.geojson"
url_trees = "data.cityofnewyork.us"


# Where data files will be read from/written to - this should already exist
DATA_DIR = pathlib.Path("/Users/jojoamelboi/Desktop/GITHUB/Untitled/data/drive-download-20231203T171520Z-001/")
ZIPCODE_DATA_FILE1 = DATA_DIR / "nyc_zipcodes.dbf"
ZIPCODE_DATA_FILE2 = DATA_DIR / "nyc_zipcodes.prj"
ZIPCODE_DATA_FILE3 = DATA_DIR / "nyc_zipcodes.sbn"
ZIPCODE_DATA_FILE4 = DATA_DIR / "nyc_zipcodes.sbx"
ZIPCODE_DATA_FILE5 = DATA_DIR / "nyc_zipcodes.shp"
ZIPCODE_DATA_FILE6 = DATA_DIR / "nyc_zipcodes.shp.xml"
ZIPCODE_DATA_FILE7 = DATA_DIR / "nyc_zipcodes.shx"

ZIPCODE_DATA_FILE = {
    'dbf': ZIPCODE_DATA_FILE1,
    'prj': ZIPCODE_DATA_FILE2,
    'sbn': ZIPCODE_DATA_FILE3,
    'sbx': ZIPCODE_DATA_FILE4,
    'shp': ZIPCODE_DATA_FILE5,
    'shp.xml': ZIPCODE_DATA_FILE6,
    'shx': ZIPCODE_DATA_FILE7,
}


ZILLOW_DATA_FILE = DATA_DIR / "zillow_rent_data.csv"




# DB_NAME = "FILL_ME_IN"
# DB_USER = "FILL_ME_IN"
# DB_URL = f"postgres+psycopg2://{DB_USER}@localhost/{DB_NAME}"
# DB_SCHEMA_FILE = "schema.sql"
# # directory where DB queries for Part 3 will be saved
# QUERY_DIR = pathlib.Path("queries")

In [26]:
# Make sure the QUERY_DIRECTORY exists
if not QUERY_DIR.exists():
    QUERY_DIR.mkdir()

NameError: name 'QUERY_DIR' is not defined

## Part 1: Data Preprocessing

In [27]:
def normalize_geometry_srid(gdf, target_srid):
    if gdf.crs and gdf.crs.to_epsg() == target_srid:
        return gdf
    try:
        gdf_normalized = gdf.copy()
        gdf_normalized['geometry'] = gdf_normalized['geometry'].to_crs(epsg=target_srid)
        return gdf_normalized
    except Exception as e:
        print(f"Error during geometry normalization: {e}")
        return None

def load_and_clean_zipcodes(ZIPCODE_DATA_FILE):

    # Pass file path using parameters
    zipcodes_data_path_7 = ZIPCODE_DATA_FILE["shx"]
    
    
    # 7th doc
    zipcodes_df_7 = gpd.read_file(zipcodes_data_path_7)
    
    #filter the columns
    columns_to_keep = ["ZIPCODE","geometry"]
    zipcodes_df_7 = zipcodes_df_7.filter(items=columns_to_keep)
    
    #Normalize the columns
    zipcodes_df_7 = normalize_geometry_srid(zipcodes_df_7, target_srid=4326)
    zipcodes_df_7.columns = zipcodes_df_7.columns.str.upper().str.replace(' ', '_')
    zipcodes_df_7 = zipcodes_df_7[zipcodes_df_7['ZIPCODE'].notnull()]
    
    
    return zipcodes_df_7

In [28]:
def download_and_clean_311_data():
    
    soql_query = {
    "$select": "incident_zip,created_date,complaint_type,location",
    "$where": "incident_zip IS NOT NULL",
    "$limit": "35000000"
    }
    encoded_query = urllib.parse.urlencode(soql_query)
    URL_311 = f"{url_311}?{encoded_query}"
    response = requests.get(URL_311, headers={"X-App-Token": App_Token})

    if response.status_code == 200:
        df_311 = gpd.read_file(URL_311)
    else:
        print(response.content)
        print("Failed to retrieve data. Status code:", response.status_code)
    
    df_311.columns = df_311.columns.str.upper().str.replace(' ', '_')
    df_311["COMPLAINT_TYPE"] = df_311["COMPLAINT_TYPE"].str.upper()
    df_311.rename(columns={"INCIDENT_ZIP": "ZIPCODE", "CREATED_DATE": "DATE"}, inplace=True)
    
    df_311["DATE"] = pd.to_datetime(df_311["DATE"])
    df_311["DATE"] = df_311["DATE"].dt.date
            
    return df_311

In [29]:
def download_and_clean_tree_data():
    client = Socrata(url_trees, App_Token)
    results = client.get("5rq2-4hqu", limit=700000)
    df_tree = gpd.GeoDataFrame.from_records(results)
    
    columns_to_keep = ["the_geom", "zipcode", "created_at", "tree_id","status","health","spc_common",""]
    df_tree = df_tree.filter(items=columns_to_keep)

    
    df_tree['geometry'] = df_tree['the_geom'].apply(lambda geom: Point(geom['coordinates']))

    # Create GeoDataFrame with specified geometry column
    df_tree = gpd.GeoDataFrame(df_tree, geometry='geometry')
    
    df_tree.rename(columns=lambda x: x.upper().replace(' ', '_'), inplace=True)
    df_tree.rename(columns={"CREATED_AT": "DATE"}, inplace=True)
    df_tree["DATE"] = pd.to_datetime(df_tree["DATE"])
    df_tree["STATUS"] = df_tree["STATUS"].str.upper()
    df_tree["HEALTH"] = df_tree["HEALTH"].str.upper()
    df_tree["SPC_COMMON"] = df_tree["SPC_COMMON"].str.upper()
    
    df_tree.drop(columns=['THE_GEOM'], inplace=True)
    df_tree = df_tree[df_tree['ZIPCODE'].notnull()]


    return df_tree

In [30]:
def load_and_clean_zillow_data():
    
    zillow_data_path = ZILLOW_DATA_FILE

    # Use pandas to load the CSV file
    zillow_df = pd.read_csv(zillow_data_path)
    
    # Keep rows with specific cell values
    desired_value = 'New York'
    filtered_df = zillow_df[zillow_df['City'] == desired_value]
    
    # Specify columns to remove
    columns_to_remove_indices = list(range(2)) + list(range(3, 9)) 
    
    # Use the drop function to remove the specified columns and formalize the structure
    df_cleaned = filtered_df.drop(columns=filtered_df.columns[columns_to_remove_indices])

    df_cleaned.rename(columns={'RegionName': 'ZIPCODE'}, inplace=True)
    df_cleaned.rename(columns=lambda x: x.upper().replace(' ', '_'), inplace=True)
    df_cleaned = df_cleaned.reset_index(drop=True)
    df_cleaned = df_cleaned[df_cleaned['ZIPCODE'].notnull()]
    
    melted_df = df_cleaned.melt(id_vars=['ZIPCODE'], var_name='DATE', value_name='RENT')
    # Filter out NaN values in the 'RENT' column
    melted_df = melted_df.dropna(subset=['RENT'])
    # Rearrange columns and sort by ZIPCODE and DATE
    melted_df = melted_df[['ZIPCODE', 'DATE', 'RENT']].sort_values(by=['ZIPCODE', 'DATE']).reset_index(drop=True)
    
    melted_df["DATE"] = pd.to_datetime(melted_df["DATE"])

    return melted_df

In [31]:
def load_all_data():
    geodf_zipcode_data = load_and_clean_zipcodes(ZIPCODE_DATA_FILE)
    geodf_311_data = download_and_clean_311_data()
    geodf_tree_data = download_and_clean_tree_data()
    df_zillow_data = load_and_clean_zillow_data()
    return (
        geodf_zipcode_data,
        geodf_311_data,
        geodf_tree_data,
        df_zillow_data
    )

In [32]:
geodf_zipcode_data, geodf_311_data, geodf_tree_data, df_zillow_data = load_all_data()

In [33]:
# Show basic info about each dataframe
geodf_zipcode_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 263 entries, 0 to 262
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ZIPCODE   263 non-null    object
 1   GEOMETRY  263 non-null    geometry
dtypes: geometry(1), object(1)
memory usage: 6.2+ KB

In [34]:
# Show first 5 entries about each dataframe
geodf_zipcode_data.head()

  ZIPCODE                                           GEOMETRY
0   11436  POLYGON ((-73.80585 40.68291, -73.80569 40.682...
1   11213  POLYGON ((-73.93740 40.67973, -73.93487 40.679...
2   11212  POLYGON ((-73.90294 40.67084, -73.90223 40.668...
3   11225  POLYGON ((-73.95797 40.67066, -73.95576 40.670...
4   11218  POLYGON ((-73.97208 40.65060, -73.97192 40.650...

In [35]:
geodf_311_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 33433774 entries, 0 to 33433773
Data columns (total 4 columns):
 #   Column          Dtype
---  ------          -----
 0   ZIPCODE         object
 1   DATE            object
 2   COMPLAINT_TYPE  object
 3   GEOMETRY        geometry
dtypes: geometry(1), object(3)
memory usage: 1020.3+ MB

In [36]:
geodf_311_data.head()

  ZIPCODE        DATE          COMPLAINT_TYPE                    GEOMETRY
0   11412  2023-12-07       DERELICT VEHICLES  POINT (-73.75719 40.69898)
1   10463  2023-12-07       DERELICT VEHICLES  POINT (-73.90627 40.87876)
2   11208  2023-12-06  STREET LIGHT CONDITION  POINT (-73.86688 40.67826)
3   10029  2023-12-06          HEAT/HOT WATER  POINT (-73.93907 40.79101)
4   10029  2023-12-06    UNSANITARY CONDITION  POINT (-73.93907 40.79101)

In [37]:
geodf_tree_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 683788 entries, 0 to 683787
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ZIPCODE     683788 non-null  object
 1   DATE        683788 non-null  datetime64[ns]
 2   TREE_ID     683788 non-null  object
 3   STATUS      683788 non-null  object
 4   HEALTH      652172 non-null  object
 5   SPC_COMMON  652169 non-null  object
 6   GEOMETRY    683788 non-null  geometry
dtypes: datetime64[ns](1), geometry(1), object(5)
memory usage: 41.7+ MB

In [38]:
geodf_tree_data.head()

,ZIPCODE,DATE,TREE_ID,STATUS,HEALTH,SPC_COMMON,GEOMETRY
0,11375,2015-08-27,180683,ALIVE,FAIR,RED MAPLE,POINT (-73.84422 40.72309)
1,11357,2015-09-03,200540,ALIVE,FAIR,PIN OAK,POINT (-73.81868 40.79411)
2,11211,2015-09-05,204026,ALIVE,GOOD,HONEYLOCUST,POINT (-73.93661 40.71758)
3,11211,2015-09-05,204337,ALIVE,GOOD,HONEYLOCUST,POINT (-73.93446 40.71354)
4,11215,2015-08-30,189565,ALIVE,GOOD,AMERICAN LINDEN,POINT (-73.97598 40.66678)

In [39]:
df_zillow_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9039 entries, 0 to 9038
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ZIPCODE  9039 non-null   int64
 1   DATE     9039 non-null   datetime64[ns]
 2   RENT     9039 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 212.0 KB

In [40]:
df_zillow_data.head()

   ZIPCODE       DATE         RENT
0    10001 2015-01-31  3807.657462
1    10001 2015-02-28  3851.098684
2    10001 2015-03-31  3844.716691
3    10001 2015-04-30  3906.689196
4    10001 2015-05-31  3960.689870

## Part 2: Storing Data

In [41]:
!createdb Final_Project

createdb: error: database creation failed: ERROR:  database "Final_Project" already exists

In [42]:
!psql --dbname Final_Project -c 'CREATE EXTENSION postgis;'

ERROR:  extension "postgis" already exists

In [ ]:
def setup_new_postgis_database(username, db_name):
    raise NotImplementedError()

In [ ]:
setup_new_postgis_database(DB_USER, DB_NAME)

### Creating Tables


These are just a couple of options to creating your tables; you can use one or the other, a different method, or a combination.

In [ ]:
engine = db.create_engine(DB_URL)

#### Option 2: SQLAlchemy

In [44]:
from sqlalchemy import create_engine, Column, Integer, String, Float, DateTime, MetaData, Index
from sqlalchemy.ext.declarative import declarative_base
from geoalchemy2 import Geometry as GeoAlchemyGeometry

Base = declarative_base()

# Define table classes
class ZipCode(Base):
    __tablename__ = 'nyc_zip_codes'
    id = Column(Integer, primary_key=True)
    zipcode = Column(String)
    geometry = Column(GeoAlchemyGeometry('POLYGON'))

class Complaints311(Base):
    __tablename__ = 'complaints_311'
    id = Column(Integer, primary_key=True)
    zipcode = Column(String)
    date = Column(DateTime)
    complaint_type = Column(String)
    geometry = Column(GeoAlchemyGeometry('POINT'))

class Trees(Base):
    __tablename__ = 'trees'
    id = Column(Integer, primary_key=True)
    zipcode = Column(String)
    date = Column(DateTime)
    tree_id = Column(Integer)
    status = Column(String)
    health = Column(String)
    spc_common = Column(String)
    geometry = Column(GeoAlchemyGeometry('POINT'))

class HistoricalRents(Base):
    __tablename__ = 'historical_rents'
    id = Column(Integer, primary_key=True)
    zipcode = Column(String)
    date = Column(DateTime)
    rent = Column(Float)
        
# Replace 'postgresql://username:password@localhost/dbname' with your PostgreSQL connection string
# Example: 'postgresql://your_username:your_password@localhost/Final_Project'
engine = create_engine('postgresql://postgres:qinjunhao0510@localhost/Final_Project')

# Create the tables
Base.metadata.create_all(bind=engine)

# Create indices on geometric columns if they don't already exist
Index('idx_zipcode_geometry', ZipCode.geometry, postgresql_using='gist').create(bind=engine, checkfirst=True)
Index('idx_complaints311_geometry', Complaints311.geometry, postgresql_using='gist').create(bind=engine, checkfirst=True)
Index('idx_trees_geometry', Trees.geometry, postgresql_using='gist').create(bind=engine, checkfirst=True)

# Output the schema as SQL
with open('schema.sql', 'w') as file:
    file.write(str(Base.metadata))

In [45]:
Base.metadata.create_all(engine)

### Add Data to Database

These are just a couple of options to write data to your tables; you can use one or the other, a different method, or a combination.

#### Option 1: SQL

In [ ]:
def write_dataframes_to_table(tablename_to_dataframe):
    # write INSERT statements or use pandas/geopandas to write SQL
    raise NotImplemented()

In [ ]:
tablename_to_dataframe = {
    "zipcodes": geodf_zipcode_data,
    "complaints": geodf_311_data,
    "trees": geodf_tree_data,
    "rents": df_zillow_data,
}

In [ ]:
write_dataframes_to_table(tablename_to_dataframe)

#### Option 2: SQLAlchemy

In [51]:
Session = db.orm.sessionmaker(bind=engine)
session = Session()

In [53]:
# Insert data into ZipCode table
for _, row in geodf_zipcode_data.iterrows():
    geometry = row['GEOMETRY']
    zip_code = ZipCode(zipcode=row['ZIPCODE'], geometry=geometry)
    session.add(zip_code)

# Insert data into Complaints311 table
for _, row in geodf_311_data.iterrows():
    geometry = row['GEOMETRY']
    complaint = Complaints311(zipcode=row['ZIPCODE'], date=row['DATE'], complaint_type=row['COMPLAINT_TYPE'], geometry=geometry)
    session.add(complaint)
    

# Insert data into Trees table
for _, row in geodf_tree_data.iterrows():
    geometry = row['GEOMETRY']
    tree = Trees(zipcode=row['ZIPCODE'], date=row['DATE'], tree_id=row['TREE_ID'], status=row['STATUS'],
                 health=row['HEALTH'], spc_common=row['SPC_COMMON'], geometry=geometry)
    session.add(tree)

# Insert data into HistoricalRents table
for _, row in df_zillow_data.iterrows():
    historical_rent = HistoricalRents(zipcode=row['ZIPCODE'], date=row['DATE'], rent=row['RENT'])
    session.add(historical_rent)

In [ ]:
session.commit()

## Part 3: Understanding the Data

### Query 1

In [ ]:
# Helper function to write the queries to file
def write_query_to_file(query, outfile):
    raise NotImplementedError()

In [ ]:
SELECT zipcode, COUNT(*) AS complaint_count
FROM Complaints_311
WHERE date BETWEEN '2022-10-01' AND '2023-09-30'
GROUP BY zipcode
ORDER BY complaint_count DESC
LIMIT 10;

In [ ]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_1))
    for row in result:
        print(row)

In [ ]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
# use a more descriptive name for your function
def plot_visual_1(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_1():
    # Query your database for the data needed.
    # You can put the data queried into a pandas/geopandas dataframe, if you wish
    raise NotImplementedError()

In [ ]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)