# NYC Apartment Search

_[Project prompt](https://docs.google.com/document/d/1BYVyFBDcTywdUlanH0ysfOrNWPgl7UkqXA7NeewTzxA/edit#heading=h.bpxu7uvknnbk)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add code as you wish._

_**All code below should be consider "pseudo-code" - not functional by itself, and only an idea of a possible approach.**_

## Setup

In [1]:
# All import statements needed for the project

#!pip install sodapy
#!pip install dbfread
#!pip install psycopg2-binary


from dbfread import DBF
import xml.etree.ElementTree as ET
from sodapy import Socrata
import pandas as pd
import requests
import csv
import json
import pathlib
import urllib.parse

import geoalchemy2 as gdb
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import requests
import shapely
from shapely.geometry import Point
import sqlalchemy as db
from shapely.geometry import shape
from geoalchemy2.shape import to_shape, WKTElement


from sqlalchemy.orm import declarative_base

In [2]:
# all constants need

App_Token = "zXpH8UO3VhKvK7Zqy3IpLSzXv"
url_311 = "https://data.cityofnewyork.us/resource/erm2-nwe9.geojson"
url_trees = "data.cityofnewyork.us"


# Where data files will be read from/written to - this should already exist
DATA_DIR = pathlib.Path("/Users/jojoamelboi/Desktop/GITHUB/Untitled/data/drive-download-20231203T171520Z-001/")
ZIPCODE_DATA_FILE7 = DATA_DIR / "nyc_zipcodes.shx"

ZIPCODE_DATA_FILE = {
    'shx': ZIPCODE_DATA_FILE7,
}


ZILLOW_DATA_FILE = DATA_DIR / "zillow_rent_data.csv"

# # directory where DB queries for Part 3 will be saved
QUERY_DIR = pathlib.Path("/Users/jojoamelboi/Desktop/GITHUB/Untitled/Source_Code")

In [3]:
# Make sure the QUERY_DIRECTORY exists
if not QUERY_DIR.exists():
    QUERY_DIR.mkdir()

## Part 1: Data Preprocessing

In [4]:
def normalize_geometry_srid(gdf, target_srid):
    if gdf.crs and gdf.crs.to_epsg() == target_srid:
        return gdf
    try:
        gdf_normalized = gdf.copy()
        gdf_normalized['geometry'] = gdf_normalized['geometry'].to_crs(epsg=target_srid)
        return gdf_normalized
    except Exception as e:
        print(f"Error during geometry normalization: {e}")
        return None

def load_and_clean_zipcodes(ZIPCODE_DATA_FILE):

    # Pass file path using parameters
    zipcodes_data_path_7 = ZIPCODE_DATA_FILE["shx"]
    
    
    # 7th doc
    zipcodes_df_7 = gpd.read_file(zipcodes_data_path_7)
    
    #filter the columns
    columns_to_keep = ["ZIPCODE","geometry"]
    zipcodes_df_7 = zipcodes_df_7.filter(items=columns_to_keep)
    
    #Normalize the columns
    zipcodes_df_7 = normalize_geometry_srid(zipcodes_df_7, target_srid=4326)
    zipcodes_df_7.columns = zipcodes_df_7.columns.str.upper().str.replace(' ', '_')
    zipcodes_df_7 = zipcodes_df_7[zipcodes_df_7['ZIPCODE'].notnull()]
    
    points_list = []
    for index, row in zipcodes_df_7.iterrows():
        zipcode = row['ZIPCODE']
        geometry = row['GEOMETRY']
        if geometry.geom_type == 'Polygon':
            # Extract the individual points from the polygon
            points = [Point(xy) for xy in geometry.exterior.coords]
            for point in points:
                points_list.append({'ZIPCODE': zipcode, 'GEOMETRY': point})

    # Create a new DataFrame from the list of points
    zipcodes_df_7 = gpd.GeoDataFrame(points_list, columns=['ZIPCODE', 'GEOMETRY'])
    
    
    return zipcodes_df_7

In [5]:
def download_and_clean_311_data():
    #35000000 rows
    
    soql_query = {
    "$select": "incident_zip,created_date,complaint_type,location",
    "$where": "incident_zip IS NOT NULL",
    "$limit": "1000"
    }
    encoded_query = urllib.parse.urlencode(soql_query)
    URL_311 = f"{url_311}?{encoded_query}"
    response = requests.get(URL_311, headers={"X-App-Token": App_Token})

    if response.status_code == 200:
        df_311 = gpd.read_file(URL_311)
    else:
        print(response.content)
        print("Failed to retrieve data. Status code:", response.status_code)
    
    df_311.columns = df_311.columns.str.upper().str.replace(' ', '_')
    df_311["COMPLAINT_TYPE"] = df_311["COMPLAINT_TYPE"].str.upper()
    df_311.rename(columns={"INCIDENT_ZIP": "ZIPCODE", "CREATED_DATE": "DATE"}, inplace=True)
    
    df_311["DATE"] = pd.to_datetime(df_311["DATE"])
    df_311["DATE"] = df_311["DATE"].dt.date
            
    return df_311

In [6]:
def download_and_clean_tree_data():
    
    #700000
    client = Socrata(url_trees, App_Token)
    results = client.get("5rq2-4hqu", limit=1000)
    df_tree = gpd.GeoDataFrame.from_records(results)
    
    columns_to_keep = ["the_geom", "zipcode", "created_at", "tree_id","status","health","spc_common",""]
    df_tree = df_tree.filter(items=columns_to_keep)

    
    df_tree['geometry'] = df_tree['the_geom'].apply(lambda geom: Point(geom['coordinates']))

    # Create GeoDataFrame with specified geometry column
    df_tree = gpd.GeoDataFrame(df_tree, geometry='geometry')
    
    df_tree.rename(columns=lambda x: x.upper().replace(' ', '_'), inplace=True)
    df_tree.rename(columns={"CREATED_AT": "DATE"}, inplace=True)
    df_tree["DATE"] = pd.to_datetime(df_tree["DATE"])
    df_tree["STATUS"] = df_tree["STATUS"].str.upper()
    df_tree["HEALTH"] = df_tree["HEALTH"].str.upper()
    df_tree["SPC_COMMON"] = df_tree["SPC_COMMON"].str.upper()
    
    df_tree.drop(columns=['THE_GEOM'], inplace=True)
    df_tree = df_tree[df_tree['ZIPCODE'].notnull()]


    return df_tree

In [7]:
def load_and_clean_zillow_data():
    
    zillow_data_path = ZILLOW_DATA_FILE

    # Use pandas to load the CSV file
    zillow_df = pd.read_csv(zillow_data_path)
    
    # Keep rows with specific cell values
    desired_value = 'New York'
    filtered_df = zillow_df[zillow_df['City'] == desired_value]
    
    # Specify columns to remove
    columns_to_remove_indices = list(range(2)) + list(range(3, 9)) 
    
    # Use the drop function to remove the specified columns and formalize the structure
    df_cleaned = filtered_df.drop(columns=filtered_df.columns[columns_to_remove_indices])

    df_cleaned.rename(columns={'RegionName': 'ZIPCODE'}, inplace=True)
    df_cleaned.rename(columns=lambda x: x.upper().replace(' ', '_'), inplace=True)
    df_cleaned = df_cleaned.reset_index(drop=True)
    df_cleaned = df_cleaned[df_cleaned['ZIPCODE'].notnull()]
    
    melted_df = df_cleaned.melt(id_vars=['ZIPCODE'], var_name='DATE', value_name='RENT')
    # Filter out NaN values in the 'RENT' column
    melted_df = melted_df.dropna(subset=['RENT'])
    # Rearrange columns and sort by ZIPCODE and DATE
    melted_df = melted_df[['ZIPCODE', 'DATE', 'RENT']].sort_values(by=['ZIPCODE', 'DATE']).reset_index(drop=True)
    
    melted_df["DATE"] = pd.to_datetime(melted_df["DATE"])

    return melted_df

In [8]:
def load_all_data():
    geodf_zipcode_data = load_and_clean_zipcodes(ZIPCODE_DATA_FILE)
    geodf_311_data = download_and_clean_311_data()
    geodf_tree_data = download_and_clean_tree_data()
    df_zillow_data = load_and_clean_zillow_data()
    return (
        geodf_zipcode_data,
        geodf_311_data,
        geodf_tree_data,
        df_zillow_data
    )

In [9]:
geodf_zipcode_data, geodf_311_data, geodf_tree_data, df_zillow_data = load_all_data()

In [10]:
# Show basic info about each dataframe
geodf_zipcode_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 139906 entries, 0 to 139905
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ZIPCODE   139906 non-null  object
 1   GEOMETRY  139906 non-null  object
dtypes: object(2)
memory usage: 2.1+ MB

In [11]:
# Show first 5 entries about each dataframe
geodf_zipcode_data.head()

  ZIPCODE                                       GEOMETRY
0   11436   POINT (-73.80584847647394 40.68290932644267)
1   11436   POINT (-73.80569084187866 40.68295409607744)
2   11436  POINT (-73.80558491738391 40.682984179006795)
3   11436   POINT (-73.80519208513209 40.68309574865656)
4   11436   POINT (-73.80432350431623 40.68334147919691)

In [12]:
geodf_311_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ZIPCODE         1000 non-null   object
 1   DATE            1000 non-null   object
 2   COMPLAINT_TYPE  1000 non-null   object
 3   GEOMETRY        991 non-null    geometry
dtypes: geometry(1), object(3)
memory usage: 31.4+ KB

In [13]:
geodf_311_data.head()

  ZIPCODE        DATE     COMPLAINT_TYPE                    GEOMETRY
0   10033  2023-12-08  DERELICT VEHICLES  POINT (-73.92843 40.85199)
1   11231  2023-12-08  DERELICT VEHICLES  POINT (-74.01050 40.67327)
2   11369  2023-12-08  DERELICT VEHICLES  POINT (-73.87725 40.75788)
3   10019  2023-12-08  DERELICT VEHICLES  POINT (-73.99209 40.76428)
4   10033  2023-12-08  DERELICT VEHICLES  POINT (-73.93274 40.84632)

In [14]:
geodf_tree_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ZIPCODE     1000 non-null   object
 1   DATE        1000 non-null   datetime64[ns]
 2   TREE_ID     1000 non-null   object
 3   STATUS      1000 non-null   object
 4   HEALTH      973 non-null    object
 5   SPC_COMMON  973 non-null    object
 6   GEOMETRY    1000 non-null   geometry
dtypes: datetime64[ns](1), geometry(1), object(5)
memory usage: 62.5+ KB

In [15]:
geodf_tree_data.head()

,ZIPCODE,DATE,TREE_ID,STATUS,HEALTH,SPC_COMMON,GEOMETRY
0,11375,2015-08-27,180683,ALIVE,FAIR,RED MAPLE,POINT (-73.84422 40.72309)
1,11357,2015-09-03,200540,ALIVE,FAIR,PIN OAK,POINT (-73.81868 40.79411)
2,11211,2015-09-05,204026,ALIVE,GOOD,HONEYLOCUST,POINT (-73.93661 40.71758)
3,11211,2015-09-05,204337,ALIVE,GOOD,HONEYLOCUST,POINT (-73.93446 40.71354)
4,11215,2015-08-30,189565,ALIVE,GOOD,AMERICAN LINDEN,POINT (-73.97598 40.66678)

In [16]:
df_zillow_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9039 entries, 0 to 9038
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ZIPCODE  9039 non-null   int64
 1   DATE     9039 non-null   datetime64[ns]
 2   RENT     9039 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 212.0 KB

In [17]:
df_zillow_data.head()

   ZIPCODE       DATE         RENT
0    10001 2015-01-31  3807.657462
1    10001 2015-02-28  3851.098684
2    10001 2015-03-31  3844.716691
3    10001 2015-04-30  3906.689196
4    10001 2015-05-31  3960.689870

## Part 2: Storing Data

In [18]:
!createdb Final_Project2

createdb: error: database creation failed: ERROR:  database "Final_Project2" already exists

In [19]:
!psql --dbname Final_Project2 -c 'CREATE EXTENSION postgis;'

ERROR:  extension "postgis" already exists

### Creating Tables (using SQLAlchemy)

#### Option 2: SQLAlchemy

In [20]:
from sqlalchemy import create_engine, Column, Integer, String, Float, DateTime, MetaData, Index
from sqlalchemy.ext.declarative import declarative_base
from geoalchemy2 import Geometry as GeoAlchemyGeometry
from sqlalchemy.schema import CreateTable


Base = declarative_base()

# Define table classes
class ZipCode(Base):
    __tablename__ = 'nyc_zip_codes'
    __table_args__ = (
        Index('idx_zipcode_geometry2', 'geometry', postgresql_using='gist'),
    )
    
    id = Column(Integer, primary_key=True)
    zipcode = Column(Integer)
    geometry = Column(GeoAlchemyGeometry('POINT'))
    

class Complaints311(Base):
    __tablename__ = 'complaints_311'
    __table_args__ = (
        Index('idx_complaints311_geometry2', 'geometry', postgresql_using='gist'),
    )
    
    id = Column(Integer, primary_key=True)
    zipcode = Column(Integer)
    date = Column(DateTime)
    complaint_type = Column(String)
    geometry = Column(GeoAlchemyGeometry('POINT'))

class Trees(Base):
    __tablename__ = 'trees'
    __table_args__ = (
        Index('idx_trees_geometry2', 'geometry', postgresql_using='gist'),
    )
    
    id = Column(Integer, primary_key=True)
    zipcode = Column(Integer)
    date = Column(DateTime)
    tree_id = Column(Integer)
    status = Column(String)
    health = Column(String)
    spc_common = Column(String)
    geometry = Column(GeoAlchemyGeometry('POINT'))

class HistoricalRents(Base):
    __tablename__ = 'historical_rents'
    id = Column(Integer, primary_key=True)
    zipcode = Column(Integer)
    date = Column(DateTime)
    rent = Column(Float)
        
engine = create_engine('postgresql://postgres:qinjunhao0510@localhost/Final_Project2')
metadata = Base.metadata
metadata.create_all(engine)

sql_commands = [str(CreateTable(table)) for table in metadata.sorted_tables]


# Write the SQL statements to a file
with open('schema.sql', 'w') as file:
    file.write('\n\n'.join(sql_commands))

In [21]:
#Test the Content of required scheme.sql file
with open('schema.sql', 'r') as file:
    schema_content = file.read()

print(schema_content)

CREATE TABLE complaints_311 (
	id INTEGER NOT NULL,
	zipcode INTEGER,
	date DATETIME,
	complaint_type VARCHAR,
	geometry geometry(POINT,-1),
	PRIMARY KEY (id)
)




CREATE TABLE historical_rents (
	id INTEGER NOT NULL,
	zipcode INTEGER,
	date DATETIME,
	rent FLOAT,
	PRIMARY KEY (id)
)




CREATE TABLE nyc_zip_codes (
	id INTEGER NOT NULL,
	zipcode INTEGER,
	geometry geometry(POINT,-1),
	PRIMARY KEY (id)
)




CREATE TABLE trees (
	id INTEGER NOT NULL,
	zipcode INTEGER,
	date DATETIME,
	tree_id INTEGER,
	status VARCHAR,
	health VARCHAR,
	spc_common VARCHAR,
	geometry geometry(POINT,-1),
	PRIMARY KEY (id)
)

### Add Data to Database

#### Option 2: SQLAlchemy

In [22]:
Session = db.orm.sessionmaker(bind=engine)
session = Session()

In [23]:
# Insert data into ZipCode table
for index, row in geodf_zipcode_data.iterrows():
    zipcode = row['ZIPCODE']
    point_geometry = row['GEOMETRY']

    if point_geometry is not None and not point_geometry.is_empty:
        try:
            point_wkt = WKTElement(point_geometry.wkt, srid=4326)
            zip_code = ZipCode(zipcode=zipcode, geometry=point_wkt)
            session.add(zip_code)
        except Exception as e:
            print(f"Error inserting row {index}: {e}")

try:
    session.commit()
except Exception as ex:
    print(f"Error during commit: {ex}")
    session.rollback()

In [24]:
# Insert data into Complaints311 table
for index, row in geodf_311_data.iterrows():
    zipcode = row['ZIPCODE']
    date = row['DATE']
    complaint_type = row['COMPLAINT_TYPE']
    point_geometry = row['GEOMETRY']

    if point_geometry is not None and not point_geometry.is_empty:
        try:
            point_wkt = WKTElement(point_geometry.wkt, srid=4326)
            complaint = Complaints311(zipcode=zipcode, date=date, complaint_type=complaint_type, geometry=point_wkt)
            session.add(complaint)
        except Exception as e:
            print(f"Error inserting row {index}: {e}")

try:
    session.commit()
except Exception as ex:
    print(f"Error during commit: {ex}")
    session.rollback()

In [25]:
# Insert data into Trees table
for index, row in geodf_tree_data.iterrows():
    point_geometry = row['GEOMETRY']
    
    if point_geometry is not None and not point_geometry.is_empty:
        try:
            point_wkt = WKTElement(point_geometry.wkt, srid=4326)
            tree = Trees(zipcode=row['ZIPCODE'], date=row['DATE'], tree_id=row['TREE_ID'], status=row['STATUS'],
                 health=row['HEALTH'], spc_common=row['SPC_COMMON'], geometry=point_wkt)
            session.add(tree)
        except Exception as e:
            print(f"Error inserting row {index}: {e}")
    
try:
    session.commit()
except Exception as ex:
    print(f"Error during commit: {ex}")
    session.rollback()

In [26]:
# Insert data into HistoricalRents table
for _, row in df_zillow_data.iterrows():
    historical_rent = HistoricalRents(zipcode=row['ZIPCODE'], date=row['DATE'], rent=row['RENT'])
    session.add(historical_rent)
    
try:
    session.commit()
except Exception as ex:
    print(f"Error during commit: {ex}")
    session.rollback()

## Part 3: Understanding the Data

### Query 1

In [27]:
# Helper function to write the queries to file
def write_query_to_file(query, outfile):
    with open(outfile, 'w') as file:
        file.write(query)

In [28]:
QUERY_1_FILENAME = QUERY_DIR / "QUERY1.sql"

QUERY_1 = """
SELECT zipcode, COUNT(*) AS complaint_count
FROM complaints_311
WHERE date BETWEEN '2022-10-01' AND '2023-09-30'
GROUP BY zipcode
ORDER BY complaint_count DESC
LIMIT 10
"""

In [29]:
with engine.connect() as conn:
#     result = conn.execute(db.text(QUERY_1))
    result = conn.execute(QUERY_1)
    for row in result:
        print(row)

In [30]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

### Query 2

In [31]:
QUERY_2_FILENAME = QUERY_DIR / "QUERY2.sql"

QUERY_2 = """
SELECT zipcode, COUNT(*) AS tree_count
FROM trees
GROUP BY zipcode
ORDER BY tree_count DESC
LIMIT 10;
"""

In [32]:
with engine.connect() as conn:
#     result = conn.execute(db.text(QUERY_1))
    result = conn.execute(QUERY_2)
    for row in result:
        print(row)

(11375, 76)
(11105, 70)
(11215, 70)
(10023, 66)
(10457, 62)
(11205, 60)
(11226, 58)
(10306, 56)
(11230, 48)
(10024, 44)

In [33]:
write_query_to_file(QUERY_2, QUERY_2_FILENAME)

### Query 3

In [34]:
QUERY_3_FILENAME = QUERY_DIR / "QUERY3.sql"

QUERY_3 = """
SELECT t.zipcode, TO_CHAR(AVG(r.rent), 'FM999,999,999.99') AS average_rent
FROM trees t
JOIN historical_rents r ON t.zipcode = r.zipcode AND EXTRACT(MONTH FROM r.date) = 8 AND EXTRACT(YEAR FROM r.date) = 2023
GROUP BY t.zipcode
ORDER BY COUNT(*) DESC
LIMIT 10;
"""

In [35]:
with engine.connect() as conn:
#     result = conn.execute(db.text(QUERY_1))
    result = conn.execute(QUERY_3)
    for row in result:
        print(row)

(11375, '2,743.4')
(11215, '3,575.65')
(11105, '2,852.73')
(10023, '4,370.07')
(10457, '2,183.97')
(11205, '3,497.47')
(11226, '2,785.32')
(10306, '2,331.54')
(11230, '2,657.04')
(10024, '3,797.94')

In [36]:
write_query_to_file(QUERY_3, QUERY_3_FILENAME)

### Query 4

In [37]:
QUERY_4_FILENAME = QUERY_DIR / "QUERY4.sql"

QUERY_4 = """
WITH LowestRent AS (
  SELECT zipcode, AVG(rent) AS average_rent
  FROM historical_rents
  WHERE EXTRACT(MONTH FROM date) = 1 AND EXTRACT(YEAR FROM date) = 2023
  GROUP BY zipcode
  ORDER BY average_rent ASC
  LIMIT 5
),
HighestRent AS (
  SELECT zipcode, AVG(rent) AS average_rent
  FROM historical_rents
  WHERE EXTRACT(MONTH FROM date) = 1 AND EXTRACT(YEAR FROM date) = 2023
  GROUP BY zipcode
  ORDER BY average_rent DESC
  LIMIT 5
)
SELECT lr.zipcode, TO_CHAR(lr.average_rent, 'FM999,999,999.99') AS formatted_average_rent,
       COUNT(t.id) AS tree_count, COUNT(c.id) AS complaint_count
FROM LowestRent lr
JOIN trees t ON lr.zipcode = t.zipcode
LEFT JOIN complaints_311 c ON lr.zipcode = c.zipcode AND c.date BETWEEN '2023-01-01' AND '2023-01-31'
GROUP BY lr.zipcode, formatted_average_rent
UNION ALL
SELECT hr.zipcode, TO_CHAR(hr.average_rent, 'FM999,999,999.99') AS formatted_average_rent,
       COUNT(t.id) AS tree_count, COUNT(c.id) AS complaint_count
FROM HighestRent hr
JOIN trees t ON hr.zipcode = t.zipcode
LEFT JOIN complaints_311 c ON hr.zipcode = c.zipcode AND c.date BETWEEN '2023-01-01' AND '2023-01-31'
GROUP BY hr.zipcode, formatted_average_rent
ORDER BY formatted_average_rent DESC;
"""

In [38]:
with engine.connect() as conn:
#     result = conn.execute(db.text(QUERY_1))
    result = conn.execute(QUERY_4)
    for row in result:
        print(row)

(10013, '5,480.11', 2, 0)
(10011, '4,741.87', 8, 0)
(10458, '1,883.08', 44, 0)
(11357, '1,829.66', 4, 0)
(10453, '1,820.23', 8, 0)
(10309, '1,380.51', 8, 0)

In [39]:
write_query_to_file(QUERY_4, QUERY_4_FILENAME)

### Query 5

In [40]:
QUERY_5_FILENAME = QUERY_DIR / "QUERY5.sql"

QUERY_5 = """
SELECT t.zipcode, COUNT(*) AS tree_count
FROM trees t
JOIN nyc_zip_codes z ON ST_Within(t.geometry, z.geometry)
GROUP BY t.zipcode
ORDER BY tree_count DESC
LIMIT 10;
"""

In [41]:
with engine.connect() as conn:
#     result = conn.execute(db.text(QUERY_1))
    result = conn.execute(QUERY_5)
    for row in result:
        print(row)

In [42]:
write_query_to_file(QUERY_5, QUERY_5_FILENAME)

### Query 6

In [43]:
QUERY_6_FILENAME = QUERY_DIR / "QUERY6.sql"

QUERY_6 = """
WITH target_point AS (
  SELECT ST_SetSRID(ST_MakePoint(-73.96253174434912, 40.80737875669467), 4326) AS geom
)
SELECT t.tree_id, t.spc_common, t.health, t.status, ST_AsText(t.geometry) AS coordinate_location
FROM trees t
JOIN target_point tp ON ST_DWithin(t.geometry, tp.geom, 0.5 * 1609.34)  -- 0.5 mile in meters
LIMIT 5;
"""

In [44]:
with engine.connect() as conn:
#     result = conn.execute(db.text(QUERY_1))
    result = conn.execute(QUERY_6)
    for row in result:
        print(row)

(180683, 'RED MAPLE', 'FAIR', 'ALIVE', 'POINT(-73.84421521958048 40.723091773924274)')
(200540, 'PIN OAK', 'FAIR', 'ALIVE', 'POINT(-73.81867945834878 40.79411066708779)')
(204026, 'HONEYLOCUST', 'GOOD', 'ALIVE', 'POINT(-73.93660770459083 40.717580740099116)')
(204337, 'HONEYLOCUST', 'GOOD', 'ALIVE', 'POINT(-73.93445615919741 40.713537494833226)')
(189565, 'AMERICAN LINDEN', 'GOOD', 'ALIVE', 'POINT(-73.97597938483258 40.66677775537875)')

In [45]:
write_query_to_file(QUERY_6, QUERY_6_FILENAME)

## Part 4: Visualizing the Data

### Visualization 1

In [46]:
# use a more descriptive name for your function
def plot_visual_1(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [47]:
def get_data_for_visual_1():
    # Query your database for the data needed.
    # You can put the data queried into a pandas/geopandas dataframe, if you wish
    raise NotImplementedError()

In [48]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)

NotImplementedError: